/* 
    Created on : 29-Apr-2020, 20:15:51
    Author     : Daniel
*/

AnchorPane{
    -fx-background-color: #6666ff;
}

JFXButton{
    -fx-text-fill: white;
    -fx-border-color: white;
}

Label{
    -fx-text-fill: white;
}

JFXTextField{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

JFXRadioButton{
    -fx-text-fill: white;
}